.feynman {
    height: 890px;
    padding-top: 100px;
    background: url("../../images/blocks/content/feynman/feinman.png") no-repeat bottom left #f2f2f2;
    background-size: 867px 637px;
    position: relative;

}